body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* Top Bar */
.top-bar {
    background-color: #343a40;
    color: white;
    padding: 5px 0;
}

.top-bar .contact-details,
.top-bar .social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-bar .contact-details li {
    margin-right: 20px;
    list-style: none;
}

.top-bar .contact-details li i {
    margin-right: 5px;
}

.top-bar .social-icons {
    justify-content: flex-end;
}

.top-bar .social-icons a {
    color: white;
    margin-left: 10px;
}

/* Navbar */
/* Modern Navbar Styling */
.navbar {
    background: linear-gradient(90deg, #343a40, #495057); /* Sleek gradient background */
    border-bottom: 2px solid #212529; /* Subtle border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}

.navbar-brand img {
    max-height: 50px; /* Adjust logo size */
}

.navbar-nav .nav-link {
    color: #f8f9fa; /* Light text for links */
    font-weight: 500; /* Medium weight for modern look */
    margin-right: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #adb5bd; /* Subtle hover effect */
    transform: scale(1.05); /* Slight zoom on hover */
}

.navbar-toggler {
    border-color: #f8f9fa; /* Light border for the toggle button */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28248, 249, 250, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.contact-details .nav-link {
    font-size: 0.9rem;
    color: #f8f9fa; /* Light text for contact details */
}

.contact-details .nav-link i {
    margin-right: 5px;
    color: #adb5bd; /* Subtle icon color */
}

.contact-details .nav-link:hover {
    color: #adb5bd; /* Match hover effect with nav links */
}

.hero {
    position: relative;
    height: 100vh;
    background: url('images/cover.png') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* Media query for portrait orientation */
@media (orientation: portrait) {
    .hero {
        height: 100vh; /* Adjust this value as needed */
    }
}

.hero .hero-content {
    z-index: 1;
    color: white;
    text-align: center;
}


.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    /* Improve text visibility */
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    /* Improve text visibility */
}

/* Style the dots */
.slick-dots {
    position: absolute;
    bottom: 20px;
    /* Adjust as needed */
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 3;
    /* Ensure dots are above the slider */
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 15px;
    height: 15px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: rgba(255, 255, 255, 0.5);
    /* Semi-transparent background */
    border-radius: 50%;
    /* Make them round */
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    content: '';
    /* Remove default content */
    text-align: center;
    color: black;
    opacity: 1;
}

.slick-dots li.slick-active button {
    background: white;
    /* Solid white for active dot */
}


/* Services Section */
.services {
    padding: 80px 0;
    background-color: #fff;
}

.services h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #28a745;
}

.service-item {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.service-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-item i {
    font-size: 40px;
    color: #28a745;
    margin-bottom: 20px;
}

.service-tile {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-tile:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.service-tile img {
    border-radius: 5px;
    margin-bottom: 15px;
}

.contact {
    padding: 15vh 0;
    background-color: #f8f9fa;
}

@media (max-width: 768px) { /* Adjust the max-width as needed */
    .contact {
        padding-top: 25vh; /* Adjust this value to increase or decrease spacing */
    }
}

.contact h2 {
    color: #28a745;
    margin-bottom: 20px;
}

.contact h3 {
    margin-top: 20px; /* Spacing above the contact information */
    color: #28a745;
}

.contact .map-container {
    margin-top: 20px; /* Spacing above the map */
}
/* Specific styles for contact page */
.contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.contact-header img {
    max-width: 100%;
    height: auto;
}

.map-section {
    padding: 40px 0;
    background-color: #f8f9fa;
    text-align: center;
}

.map-section h2 {
    margin-bottom: 20px;
    color: #28a745;
}
.contact-heading {
    font-size: 2.5em; /* Adjust the size as needed */
    color: #28a745; /* Use your theme color */
    font-weight: bold; /* Make it bold */
    text-transform: capitalize; /* Ensure it's capitalized */
    margin-bottom: 30px; /* Add some spacing below */
    text-align: left; /* Align the text left */
}

.contact a i.fas.fa-phone,
.contact a i.fas.fa-envelope {
    font-size: 30px; /* Adjust the size as needed */
}

/* About Section */
.about {
    padding: 80px 0;
    background-color: #f8f9fa;
}

.about h2 {
    color: #28a745;
    margin-bottom: 30px;
}

.about img {
    border-radius: 5px;
}

/* Image Grid Section */
.image-slider {
    padding: 80px 0;
    background-color: #f8f9fa;
}

.image-slider h2 {
    margin-bottom: 40px;
    text-align: center;
    color: #28a745;
}

.slider-item {
    text-align: center;
}

.slider-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
    padding: 40px 0;
}

footer h3 {
    color: white;
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a {
    color: #eee;
    text-decoration: none;
}

footer .social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 20px;
}

footer hr {
    border-color: #555;
}

footer .text-center {
    color: #ccc;
}

footer .col-md-4 a i.fas.fa-phone,
footer .col-md-4 a i.fas.fa-envelope {
    font-size: 20px; 
    margin-right: 10px; 
    color: white;
}

/* General Styles */
.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #1e7e34;
    border-color: #1e7e34;
}

/* Scroll Down Arrow */
.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.scroll-down-link {
    display: inline-block;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.scroll-down-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.scroll-down-link i {
    font-size: 24px;
}
